<div>
  <div class="grid" style="padding-top: 16px;">
    <article>
      <div style="text-align: center; padding-top: 16px;">
        <h1>Get Your Current Forecast</h1>
      </div>
      <div id="address_form">
        <%= render partial: "address_form" %>
      </div>
    </article>

    <div id="forecast"></div>
  </div>
</div>